<h2>Pie Charts</h2>

<% left_or_right = ["left", "right"] %>

<div class="row">

  <% 2.times do |x| %>

    <div class="col-md-6 col-pie <%=left_or_right[x]%>" data-left-right="<%=left_or_right[x]%>">

      <!-- Drop-down menu -->
      <div class="col-md-4 trim-col-padding form-group">
        <label>Divide my chart by...</label>
        <select class="pie-drop-down <%=left_or_right[x]%> form-control">
          <option value="company">Company</option>
          <option value="product">Product</option>
          <option value="category">Product Category</option>
          <option value="province">Province</option>
          <option value="country">Country</option>
        </select>
      </div>

      <!-- Load and hide buttons -->
      <div class="col-md-4 trim-col-padding form-group">
        <label>&nbsp;</label>
        <div class="load-button load-button btn btn-success <%=left_or_right[x]%>" data-left-right="<%=left_or_right[x]%>">
          <i class="fa fa-pie-chart"></i> Load Chart
        </div>
      </div>

      <div class="col-md-4 trim-col-padding form-group">
        <label>&nbsp;</label>
        <div class="button-pie hide-pie btn-danger btn">
          <span class="glyphicon glyphicon-minus-sign"></span> Hide Charts
        </div>
      </div>

      <!-- Canvas -->
      <span id="mobile-message-pie">If you do not see the full chart, then scroll horizontally.</span>
      <div class="canvas-container <%=left_or_right[x]%>">
        <canvas class="canvas market-search <%=left_or_right[x]%>" width="400" height="400"></canvas>
      </div>

      <div class="legend-container <%=left_or_right[x]%>"></div>

    </div>
  <% end %>

</div>