<% if @market_search.errors.any? %>
  <p>We could not perform your search. Please correct the errors below:
  <ul class="error-validation">
    <% @market_search.errors.messages.each do |key,value| %>
      <li><%= value.to_s[2..-3] %></li>
    <% end %>
  </ul>
<% end %>

<% if @final_results %>

    Found <%= @final_results.length %> results.
    
    <!-- Start displaying pie chart -->

    <h2>Pie Charts</h2>

    <%# col_pie = ["col-left-pie","col-right-pie" ] %>
    <%# pie_drop_down = ["pie-drop-down-left","pie-drop-down-right"] %>
    <%# load_button = ["load-button-left","load-button-right"] %>
    <%# canvas_container = ["canvas-container-left","canvas-container-right"] %>
    <%# canvas = ["canvas-left","canvas-right"] %>
    <%# legend_container = ["legend-container-left","legend-container-right"] %>
    <% left_or_right = ["left", "right"] %>

    <% 2.times do |x| %>

      <div class="col-md-6 trim-col-padding col-pie <%=left_or_right[x]%>" data-left-right="<%=left_or_right[x]%>">

        <!-- Drop-down menu -->
        <div class="col-md-4 trim-col-padding">
          Divide my chart by...
          <select class="pie-drop-down">
            <option value="Company">Company</option>
            <option value="Product">Product</option>
            <option value="Category">Product Category</option>
            <option value="Province">Province</option>
            <option value="Country">Country</option>
          </select>
        </div>

        <!-- Load and hide buttons -->
        <div>
          <div class="load-button tag load-button btn btn-success" data-left-right="<%=left_or_right[x]%>">
            <i class="fa fa-pie-chart"></i> Load Chart
          </div>

          <div class="button-pie hide-pie tag danger load-button btn">
            <span class="glyphicon glyphicon-minus-sign"></span> Hide Charts and Tables
          </div>

          <div class="clear">
        </div>

        <!-- Canvas -->
        <span id="mobile-message-pie">If you do not see the full chart, then scroll horizontally.</span>
        <div class="canvas-container <%=left_or_right[x]%>">
          <canvas class="canvas market-search <%=left_or_right[x]%>" width="400" height="400"></canvas>
        </div>

        <div class="legend-container <%=left_or_right[x]%>"></div>

        </div>
      </div>

    <% end %>

    <div class="clear"></div>

    <!-- Start displaying raw data -->

    <h2 class="full-results">Full Results</h2>

    <p class="mobile-message">
      <%= mobile_message %>
    </p>
    <br>
    <div class="table-wrapper">
    <table id="results-table">
      <tr>
        <th>Company</th>
        <th>Priority Level</th>
        <th>Product</th>
        <th>Category</th>
        <th>Province</th>
        <th>Country</th>
        <th>Sales</th>
        <th>Description</th>
      </tr>

      <% sales_total = 0 %>
      <% @final_results.each do |result| %>

      <tr>
        <td><%= link_to result.organization.name, result.organization %></td>
        <td><%= result.organization.priority.name %></td>
        <td><%= result.product %></td>
        <td><%= result.category.name %></td>
        <td><%= result.province %></td>
        <td><%= result.country %></td>
        <td class="cell-number"><%= number_to_currency(result.sales) %></td>
          <% sales_total = sales_total + result.sales %>
        <td><%= result.description %></td>
      </tr>
      <% end %><!-- End looping through each row -->

      <tr class="row-total">
        <td>TOTAL</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_to_currency(sales_total) %></td>
        <td></td>
      </tr>

    </table>
    </div>

  <script>
    var totalSales = parseInt(<%= sales_total.to_json %>);
    resultsLoaded(); // Trigger market_searches.js
  </script>

<% else %><!-- If there are no search results -->
  
  <p>There are no search results<p>

<% end %>