<% if @market_search.errors.any? %>
  <p>We could not perform your search. Please correct the errors below:
  <ul class="error-validation">
    <% @market_search.errors.messages.each do |key,value| %>
      <li><%= value.to_s[2..-3] %></li>
    <% end %>
  </ul>
<% end %>

<% if @final_results %>

    Found <%= @final_results.length %> results.
    
    <!-- Start displaying pie chart -->

    <%= render partial: "pie_charts" %>

    <div class="clear"></div>

    <!-- Start displaying raw data -->

    <h2 class="full-results">Full Results</h2>

    <p class="mobile-message">
      <%= mobile_message %>
    </p>
    <br>
    <div class="table-wrapper">
    <table id="results-table">
      <tr>
        <th>Company</th>
        <th>Priority Level</th>
        <th>Product</th>
        <th>Category</th>
        <th>Province</th>
        <th>Country</th>
        <th>Sales</th>
        <th>Description</th>
      </tr>

      <% sales_total = 0 %>
      <% @final_results.each do |result| %>

      <tr>
        <td><%= link_to result.organization.name, result.organization %></td>
        <td><%= result.organization.priority.name %></td>
        <td><%= result.product %></td>
        <td><%= result.category.name %></td>
        <td><%= result.province %></td>
        <td><%= result.country %></td>
        <td class="cell-number"><%= number_to_currency(result.sales) %></td>
          <% sales_total = sales_total + result.sales %>
        <td><%= result.description %></td>
      </tr>
      <% end %><!-- End looping through each row -->

      <tr class="row-total">
        <td>TOTAL</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_to_currency(sales_total) %></td>
        <td></td>
      </tr>

    </table>
    </div>

  <script>
    // var totalSales = parseInt(<%= sales_total.to_json %>);
  </script>

<% else %><!-- If there are no search results -->
  
  <p>There are no search results<p>

<% end %>