<h1>Settings</h1>

<h2>Change my name</h2>

<%= simple_form_for current_user, :url => user_path(current_user), html: { class: 'form-group' } do |f| %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.submit "Save" %>

<% end %>

<!--h2>Change my password</h2-->

<%#=simple_form_for current_user, :url => user_path(current_user) do |f| %>

  <%#= f.input :

<%# end %>

<h2>Set my home organization</h2>

<%= simple_form_for current_user, html: { class: 'form-group' }, data: {confirm: "Are you sure that you want to change your organization? This will impact some reports."} do |f| %>

  <%= f.association :organization, collection: Organization.order(:name), label: false, include_blank: false %>
  <%= f.submit "Save" %>

<% end %>

<!-- UNDER CONSTRUCTION
h2>Priority tags</h2>

<div class="col-md-6">
  <h3>Create a new tag</h3>
  <%#= simple_form_for @priority_new do |f| %>
    <div class="col-md-6">
      <%#= f.input :name, label: false %>
    </div>
    <div class="col-md-6">
      <%#= f.submit "Create this tag", {class: "btn btn-primary"} %>
    </div>
  <%# end %>
</div>

<div class="col-md-6">
  <h3>Edit existing tags</h3>
  <%# @priorities_rud.each do |priority| %>
    <%#= simple_form_for priority do |f| %>
      <div class="col-md-6">
        <%#= f.input :name, label: false %>
      </div>
      <div class="col-md-3">
        <%#= f.submit "Update", {class: "btn btn-success"} %>
      </div>
    <%# end %>

    <div class="col-md-3">
      <%#= button_to "Delete", priority_path(priority), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"}  %>
    </div>
    <div class="clear"></div>

  <%# end %>
</div>

<div class="clear"></div>

<h2>Product categories</h2>

<div class="col-md-6">
  <h3>Create a new category</h3>
  <%#= simple_form_for @category_new do |f| %>
    <div class="col-md-6">
      <%#= f.input :name, label: false %>
    </div>
    <div class="col-md-6">
      <%#= f.submit "Create this category", {class: "btn btn-primary"} %>
    </div>
  <%# end %>
</div>

<div class="col-md-6">
<h3>Edit existing categories</h3>
  <%# @categories_rud.each do |category| %>
    <%#= simple_form_for category do |f| %>
      <div class="col-md-6">
        <%#= f.input :name, label: false %>
      </div>
      <div class="col-md-3">
        <%#= f.submit "Update", {class: "btn btn-success"} %>
      </div>
    <%# end %>

    <div class="col-md-3">
      <%#= button_to "Delete", category_path(category), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"}  %>
    </div>
    <div class="clear"></div>
  <%# end %>
</div-->