<% group_array = [
  ["All Organizations","all"],
  ["Competitors of...","competitors"],
  ["Clients of...","clients"],
  ["Suppliers of...","suppliers"]
  ]%>

<% property_array = [
  ["Revenue","revenue"],
  ["Company Name","name"],
  ["Description","description"],
  ["Priority Level","priority"],
  ["City","city"],
  ["Province","province"],
  ["Country","country"],
  ] %>

<% equality_array = [
  ["contains text","ILIKE"],
  ["< less than","<"],
  ["≤ less than or equal","<="],  
  ["= equals","="],
  ["> greater than",">"],
  ["≥ greater than or equal",">="]
  ] %>  

<div class="nested-fields" class="col-md-12 trim-children-padding">
  <div class="col-md-2 trim-col-padding">
    <%= f.input :group, collection: group_array, include_blank: false, label: "Group of Orgs", input_html: {class: "field-org-group"} %>
  </div>
  <div class="col-md-2 trim-col-padding">
    <%= f.input :organizations, collection: Organization.sort_by_name, label: "Org. Name", input_html: {class: "field-org-name"} %>
  </div>
  <div class="col-md-2 trim-col-padding">
    <%= f.input :property, collection: property_array, label: "Org's Characteristic", input_html: {class: "field-property"} %>
  </div>
  <div class="col-md-2 trim-col-padding">
    <%= f.input :equality, collection: equality_array, label: "Search Logic", input_html: {class: "field-logic"} %>
  </div>
  <div class="col-md-2 trim-col-padding">
    <%= f.input :search_term, label: "Search Term", input_html: {class: "field-search-term"} %>
  </div>
  <div class="col-md-2 del-filter-bound trim-col-padding">
    <%= link_to_remove_association "<span class='glyphicon glyphicon-trash'></span> Remove this filter".html_safe, f, {class: "btn btn-danger"} %>
  </div>
</div>

<div class="clear"></div>

<script>
  // hideOrgList();
</script>