<% greeting_question = ["How are you today?","What is your focus today?","Have you played 'Apples or Chuck Norris'?","Have you had your caffeine today?"].sample %>

<!DOCTYPE html>
<html>
<head>
  <title>Landscape</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300|Roboto:400italic,700italic,700,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<% if current_user %>
  <% if current_user.organization %>
    <% my_org_path = organization_path(current_user.organization) %>
  <% else %>
    <% my_org_path = new_organization_path %>
    <% flash[:alert] = "You have not set your home organization. Please set one so you can access all of your reports.\nVisit your SETTINGS to set your home organization" %>
  <% end %>
<% end %>

<body>
  <div id="loading-shell">
    <div id="loading" class="container">
      <h1>Loading...</h1>
      <span class="glyphicon glyphicon-refresh"></span>
    </div>
  </div>

  <div id="nav-all-rows">

    <div id="alert"><div class="container">
      <%= flash[:alert] %>
    </div></div>
    <div id="notice"><div class="container">
      <%= flash[:notice] %>
    </div></div>

    <div id="navOne">
      <div class="container">
        <div class="left">
          <div id="logo"> <!-- LOGO -->
            <span class="glyphicon glyphicon-signal"></span>
            <span class="glyphicon glyphicon-qrcode"></span>
            <span class="glyphicon glyphicon-picture"></span>
            <%= link_to "LANDSCAPE", root_path %>
          </div>
        </div>
        <div class="right">
          
          <div id="quick-find" class="wrapper-link">
            View an org:&nbsp;
            <%= select_tag "Organizations", options_from_collection_for_select(Organization.sort_by_name, "id", "name"), html: {class: "form-control"}, include_blank: "SELECT AN ORG" %>
          </div>

          <% if current_user %>
            <% if current_user.organization_id %>
              <%= link_to my_org_path do %>
                <div class="wrapper-link">My Org</div>
              <% end %>
            <% else %>
              <%= link_to settings_path do %>
                <div class="wrapper-link">Set My Home Org</div>
              <% end %>
            <% end %><!-- If home org is set -->            
            <%= link_to new_organization_path do %>
              <div class="wrapper-link">New Org</div>
            <% end %>
          <% end %><!-- If current_user -->
          
        </div><!-- END RIGHT COLUMN -->
      </div><!-- END CONTAINER -->
      <div class="clear"></div>
    </div>

    <div id="navTwo">
      <div class="container"> <!-- CONTAINER FOR SECOND NAV BAR -->

      <div class="left">
      </div>

      <div class="right">

        <%= link_to "/searches/all_orgs" do %>
          <div class="wrapper-link">All Orgs</div>
        <% end %>

        <% if current_user %>
          <%= link_to "/searches/competitors" do %>
            <div class="wrapper-link">My Competitors</div>
          <% end %>

          <%= link_to "/searches/clients" do %>
            <div class="wrapper-link">My Clients</div>            
          <% end %>

          <%= link_to "/searches/suppliers" do %>
            <div class="wrapper-link">My Suppliers</div>            
          <% end %>
        <% end %>

        <%= link_to new_comparison_path do %>
          <div class="wrapper-link">Compare Orgs</div>          
        <% end %>

        <%= link_to new_market_search_path do %>
          <div class="wrapper-link">Market Share</div>
        <% end %>

        <%= link_to new_search_path do %>
          <div class="wrapper-link">Search Orgs</div>
        <% end %>
      </div>
        
      </div>
    </div>

    <div class="container"> <!-- USER ACCOUNT LINKS -->
      <div id="current-user">
        <% if current_user %>
          <span class="glyphicon glyphicon-user"></span>
          Hello, <%= current_user.name_display %>. <%= greeting_question %>
          <span class="glyphicon glyphicon-cog"></span>
          <%= link_to "Settings", settings_path %>
          <span class="glyphicon glyphicon-log-out"></span>
          <%= link_to "Sign out", logout_path %>
        <% else %>
          <span class="glyphicon glyphicon-log-in"></span>&nbsp;<%= link_to "Admin sign in", login_path %>
          <!-- <span class="glyphicon glyphicon-user"></span> -->
          <%#= link_to "Create a new user account", signup_path %>
        <% end %>
      </div> <!-- END CURRENT USER CONTAINER -->
      <div class="clear"></div>
    </div>

  </div><!-- END TOP BARS INCLUDING USER-ACCOUNT LINKS-->

  <!-- END TOP BARS INCLUDING USER-ACCOUNT LINKS-->

  <div class="container">

    <!-- YIELD -->
    <%= yield %>
  </div>

</body>

<script>
  $('#navTwo .wrapper-link:contains("<%= j session[:nav_link_pressed] %>")').css('background','#2E723E').css('border','1px solid rgb(18, 76, 32)').css('border-width','0px 1px');  
  // .addClass('link-pressed');
</script>

</html>