<!DOCTYPE html>
<html>
<head>
  <title>Landscape</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300|Roboto:400italic,700italic,700,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  -->
  <%= csrf_meta_tags %>
</head>

<% if current_user %>
  <% if current_user.organization %>
    <% my_org_path = organization_path(current_user.organization) %>
  <% else %>
    <% my_org_path = new_organization_path %>
    <% flash[:alert] = "You have not set your home organization. Please set one so you can access all of your reports.\nVisit your SETTINGS to set your home organization" %>
  <% end %>
<% end %>

<body>

  <!-- START MODALS -->
  <div id="loading-shell">
    <div id="loading" class="container">
      <h1>Loading...</h1>
       <span class="glyphicon glyphicon-refresh"></span>
    </div>
 </div>

  <div id="side-nav-modal">
    <div id="side-nav-bar">
    </div>
    <div id="side-nav-tab">
      <span class="glyphicon glyphicon-menu-hamburger">
      <!-- ALTERNATE: <span class="glyphicon glyphicon-menu-right"></span> -->
    </div>
  </div>
  <!-- END MODALS -->

  <div id="nav-all-rows">

    <div id="alert"><div class="container">
      <%= flash[:alert] %>
    </div></div>
    <div id="notice"><div class="container">
      <%= flash[:notice] %>
    </div></div>

    <div id="navOne">
      <div class="container">
        <div class="left">
          <div id="logo">
            <a href="/">
              <span class="glyphicon glyphicon-signal"></span>
              <span class="glyphicon glyphicon-qrcode"></span>
              <span class="glyphicon glyphicon-picture"></span>
              <span class="app-name">LANDSCAPE</span>
            </a>
          </div>
        </div>
        <div class="right">
          
          <div id="quick-find" class="wrapper-link">
            View an org:&nbsp;
            <%= select_tag "Organizations", options_from_collection_for_select(Organization.sort_by_name, "id", "name"), class: "form-control", include_blank: "SELECT AN ORG" %>
          </div>
            <% if current_user && current_user.organization_id %>
                <%= nav_link(my_org_path, "My Org") %>
            <% elsif current_user && !current_user.organization_id %>
                <%= nav_link(settings_path, "Set My Home Org") %>
            <% end %>

            <% if current_user %>
                <%= nav_link(new_organization_path, "New Org") %>
            <% end %>
          
        </div><!-- END RIGHT COLUMN -->
      </div><!-- END CONTAINER -->
      <div class="clear"></div>
    </div>

    <div id="navTwo">
      <div class="container"> <!-- CONTAINER FOR SECOND NAV BAR -->

      <div class="left">
      </div>

      <div class="right">

        <% logged_in_condition = (current_user && current_user.organization) %>
        <%  [["/searches/all_orgs", "All Orgs", true],
            ["/searches/competitors", "My Competitors", logged_in_condition],
            ["/searches/clients", "My Clients", logged_in_condition],
            ["/searches/suppliers", "My Suppliers", logged_in_condition],
            [new_comparison_path, "Compare Orgs", true],
            [new_market_search_path, "Market Share", true],
            [new_search_path, "Search Orgs", true]].each do |trio| %>
            <%= nav_link(trio[0], trio[1]) if trio[2] %>
        <% end %>

      </div>
        
      </div>
    </div>

    <div class="container"> <!-- USER ACCOUNT LINKS -->
      <div id="current-user">
        <% if current_user %>
          <div id="greeting">
            <span class="glyphicon glyphicon-user"></span><%= greeting %>
          </div>
          <div id="nav-last">
            <span class="glyphicon glyphicon-cog"></span><%= link_to "Settings", settings_path %>
            <span class="glyphicon glyphicon-log-out"></span><%= link_to "Sign out", logout_path %>
        <% else %>
          <div id="nav-last">
            <span class="glyphicon glyphicon-log-in"></span>&nbsp;<%= link_to "Sign in", login_path %>
            <span class="glyphicon glyphicon-user"></span>&nbsp;<%= link_to "Register", signup_path %>
        <% end %>
            <!-- ALWAYS SHOW THE 'HELP' LINK -->
            <span class="glyphicon glyphicon-question-sign"></span>&nbsp;<%= link_to "Help", root_path %>        
          </div>
      </div> <!-- END CURRENT USER CONTAINER -->
      <div class="clear"></div>
    </div>

  </div><!-- END TOP BARS INCLUDING USER-ACCOUNT LINKS-->

  <!-- END TOP BARS INCLUDING USER-ACCOUNT LINKS-->

  <div class="container">
    <!-- YIELD -->
    <%= yield %>
  </div>

</body>

<script>
  $('#navTwo .wrapper-link:contains("<%= j session[:nav_link_pressed] %>")').css('background','#2E723E').css('border','1px solid rgb(18, 76, 32)').css('border-width','0px 1px');  
</script>
<% if @extra_scripts %>
  <% @extra_scripts.each do |script_name| %>
    <%= javascript_include_tag script_name, 'data-turbolinks-track' => true %>
  <% end %>
<% end %>

</html>