<!DOCTYPE html>
<html>
<head>
  <title>Landscape</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300|Roboto:400italic,700italic,700,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<% if user_signed_in? %>
  <% if current_user.organization %>
    <% my_org_path = organization_path(current_user.organization) %>
  <% else %>
    <% my_org_path = new_organization_path %>
    <% flash[:alert] = "You have not set your home organization. Please set one so you can access all of your reports.\nVisit your SETTINGS to set your home organization" %>
  <% end %>
<% end %>


<body>

  <div id="alert"><div class="container">
    <%= flash[:alert] %>
  </div></div>
  <div id="notice"><div class="container">
    <%= flash[:notice] %>
  </div></div>

  <div id="navOne">
    <div class="container">
      <div class="left">
        <div id="logo"> <!-- LOGO -->
          <span class="glyphicon glyphicon-signal"></span>
          <span class="glyphicon glyphicon-qrcode"></span>
          <span class="glyphicon glyphicon-picture"></span>
          <%= link_to "LANDSCAPE", root_path %>
        </div>
      </div>
      <div class="right">
        <ul>

          <li>
            <%= link_to "New Org", new_organization_path %>
          </li>

          <li>
            <% if current_user %>
              <% if current_user.organization_id %>
                <%= link_to "My Org", my_org_path %>
              <% else %>
                <%= link_to "Set My Home Org.", settings_path %>
              <% end %>
            <% end %>
          </li>
          
          <li id="quick-find">
            View an org:&nbsp;
            <%= select_tag "Organizations", options_from_collection_for_select(Organization.sort_by_name, "id", "name"), html: {class: "form-control"}, include_blank: "SELECT AN ORG" %>
          </li>

        </ul>
      </div><!-- END RIGHT COLUMN -->
    </div><!-- END CONTAINER -->
    <div class="clear"></div>
  </div>

  <div id="navTwo">
    <div class="container"> <!-- CONTAINER FOR SECOND NAV BAR -->
      <div class="left">
      </div>
      <ul>
        <li><%= link_to "Search Orgs", new_search_path %></li>                    
        <li><%= link_to "Market Share", new_market_search_path %></li>
        <li><%= link_to "Compare Orgs", new_comparison_path %></li>
        <% if current_user %>
          <li><%= link_to "My Suppliers", "/searches/suppliers" %></li>
          <li><%= link_to "My Clients", "/searches/clients" %></li>
          <li><%= link_to "My Competitors", "/searches/competitors" %></li>
        <% end %>
        <li><%= link_to "All Orgs", "/searches/all_orgs" %></li>
      </ul>
    </div>
  </div>

<!-- END TOP BARS -->

<div class="container">

  <div id="current-user">
    <% if user_signed_in? %>
      <span class="glyphicon glyphicon-user"></span>
      Hello, <%= current_user.name_display %>
      <span class="glyphicon glyphicon-cog"></span>
      <%= link_to "Settings", settings_path %>
      <span class="glyphicon glyphicon-log-out"></span>
      <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
      <span class="glyphicon glyphicon-log-out"></span>
      <%= link_to "Please sign in", new_user_session_path %>
    <% end %>
  </div>
  <div class="clear"></div>


  <%= yield %>
</div>

</body>
</html>
